$font-family-primary: "Exo 2", sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

// color

$mainred: #e40134;
$mainredhover: #b80029;
$lightblack: #313131;
$black: #000000;
$maingray: #ababab;
$maingraylight: #ebebeb;
